h1{color: purple;
    font: 30px;
    text-align: center;
    background-color: grey;}
p{color:black;
  font: 15px;
  text-align: right;}
.gallery {
    display: flex;             
    justify-content: center;
    gap: 20px;                 
}

.image-container {
    text-align: center;       
}

.image-container img {
    width: 200px;             
    height: auto;
    display: block;          
    margin-bottom: 10px;      
}
